.note-preview {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-color: var(--note-bg-color-default);
	border: 1px solid #ccc;
	gap: 0.5rem;
	padding: 1rem;
	border-radius: 8px;
	height: 100%;
}
