.notes-preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
	background-color: #fff;
	border: 1px solid #ccc;
	min-width: 100dvw;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
}

.notes-preview div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.remove-all-btn {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0 2rem;
}

.remove-all-btn:hover {
	background-color: #e50000;
}
