.notes-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: #fff;
	border: 1px solid #ccc;
	min-width: 100dvw;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
}

.remove-all-btn {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.remove-all-btn:hover {
	background-color: #e50000;
}
