.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-note {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	background-color: var(--note-bg-color-default);
	border-radius: 8px;
	gap: 1rem;
	width: 60%;
	height: 60%;
	padding: 1rem;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.note-input {
	width: 40dvw;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.note-body-input {
	width: 100%;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.pin-btn {
	background-color: transparent;
	border: none;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	width: 100%;
}

.save-btn {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.cancel-btn {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.cancel-btn:hover {
	background-color: #f90;
	color: #fff;
}

.delete-btn:hover {
	background-color: #e50000;
	color: #fff;
}
