:root {
	--note-bg-color-default: #f5f5f5;
	--note-bg-color-coral: #faafa8;
	--note-bg-color-peach: #f39f76;
	--note-bg-color-sand-beige: #fff8b8;
	--note-bg-color-mint-green: #e2f6d3;
	--note-bg-color-sage: #b4ddd3;
	--note-bg-color-fog: #d4e4ed;
	--note-bg-color-storm: #aeccdc;
	--note-bg-color-twilight: #d3bfdb;
	--note-bg-color-tree-flower: #f6e2dd;
	--note-bg-color-clay: #e9e3d4;
	--note-bg-color-limestone: #efeff1;
}

.notes-preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #ccc;
	gap: 4rem;
	min-width: 100dvw;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
}

.notes-preview div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 0.5rem;
}
